<a href="https://colab.research.google.com/github/huynhhoc/DataAnalystDeepLearning/blob/main/Labs/Lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning dataset
Several problems regarding dataset:
1. Missing header
2. Multi-variables in one columns
3. Inconsitence values
4. Null values
5. Duplicated values
6. Inconsitence characters (error ASCII-based format)
7. Missing values
8. Missing headers

# Vấn đề 1: 
Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề ―Missing header in the csv file‖

In [8]:
import pandas as pd

Hiển thị và quan sát dữ liệu patient_heart_rate

In [10]:
patientheartrate = pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv')

In [13]:
patientheartrate.head(5)

     1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

patientheartrate thiếu phần headers, giả sử ta cần bổ sung headers vào cho dataframe patientheartrate, thông tin các cột như sau:
column_names=["ID", "Name", "Age", "Weight", "m0006", "m0612","m1218", "f006", "f0612", "f1218"]

In [14]:
column_names=["ID", "Name", "Age", "Weight", "m0006", "m0612","m1218", "f006", "f0612", "f1218"]
patientheartrate = pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv', names = column_names)

In [15]:
patientheartrate.head(5)

    ID            Name   Age      Weight m0006 m0612 m1218 f006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71    -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -   85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -   65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72    -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -   69   NaN    75

# Vấn đề 2: 
Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột ―Name‖ chứa bao gồm ―Firstname‖ và ―Lastname‖, giải pháp là ta sẽ tách ra làm 2 cột dựa vào giá trị khoảng trắng

In [17]:
patientheartrate[['Firstname', 'Lastname']]=patientheartrate['Name'].str.split(expand = True)

In [21]:
patientheartrate.head(5)

    ID   Age      Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0  1.0  56.0       70kgs    72    69    71    -     -     -    Mickéy    Mousé
1  2.0  34.0   154.89lbs     -     -     -   85    84    76    Donald     Duck
2  3.0  16.0         NaN     -     -     -   65    69    72      Mini    Mouse
3  4.0   NaN       78kgs    78    79    72    -     -     -   Scrooge   McDuck
4  5.0  54.0  198.658lbs     -     -     -   69   NaN    75      Pink  Panther

In [19]:
#Xoa cot Name
patientheartrate = patientheartrate.drop('Name',axis=1)

In [20]:
patientheartrate.head(5)

    ID   Age      Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0  1.0  56.0       70kgs    72    69    71    -     -     -    Mickéy    Mousé
1  2.0  34.0   154.89lbs     -     -     -   85    84    76    Donald     Duck
2  3.0  16.0         NaN     -     -     -   65    69    72      Mini    Mouse
3  4.0   NaN       78kgs    78    79    72    -     -     -   Scrooge   McDuck
4  5.0  54.0  198.658lbs     -     -     -   69   NaN    75      Pink  Panther

# Vấn đề 3
Quan sát dữ liệu trên cột Weight ta thấy có hai đơn vị đo lường được sử dụng gồm kg và pound (lbs). Phần này sẽ chuyển đơn vị đo lường từ lbs về kg theo quy tắc chuyển đổi sau: (1 lbs sẽ bằng 0.453592kg (1/2.205 kg)

In [23]:
weight=patientheartrate['Weight']
for i in range(len(weight)):
  x = str(weight[i])
  if "lbs" in x[-3:]:
    #remove the lbs from the value
    x = x[:-3:]
    float_x = float(x)
    y = int(float_x/2.205)
    y = str(y)+"kgs"
    weight[i] = y

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [25]:
patientheartrate.head(5)

    ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1  2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther