<a href="https://colab.research.google.com/github/huynhhoc/DataAnalystDeepLearning/blob/main/Labs/Lab07_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tham khảo: https://thinkingneuron.com/using-artificial-neural-networks-for-regression-in-python/

In [15]:
import numpy as np
# hàm này để hiển thị các tấm ảnh 
import matplotlib.pyplot as plt
# để chọn ngẫu nhiên các tấm ảnh
import random
# để load dữ liệu trong tập mẫu
from keras.datasets import mnist
# các hàm sau để xây dựng mô hình mạng neural 
# thêm 1 lớp, thêm hàm kích hoạt activation
from keras.models import Sequential
from keras.utils import np_utils
from keras.layers.core import Dense,Activation

In [16]:
model= Sequential()
#add vào 1 lớp input,có 10 neural(10 neural) và mỗi neural có 784 input
model.add(Dense(2,input_dim=2,kernel_initializer='normal'))
model.add(Activation('relu'))

In [17]:
# add lớp hidden sẽ tự động lấy đầu vào của lớp đầu, giá trị hiden có thể thay đổi
model.add(Dense(3,kernel_initializer='normal'))
model.add(Activation('relu'))

In [18]:
# add vào lớp đầu ra, bắt buộc là 10 vì số từ 0->9 là 10 số
model.add(Dense(1,kernel_initializer='normal'))
# dùng hàm softmax vì đầu ra là 10 lớp (nhận dạng số 0-9)
# Với các bài toán classification (phân loại) thì nếu có 2 lớp thì hàm activation ở output layer là hàm sigmoid, 
# còn nhiều hơn 2 lớp thì hàm activation ở ouput layer là hàm softmax
model.add(Activation('softmax'))
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 2)                 6
_________________________________________________________________
activation_3 (Activation)    (None, 2)                 0
_________________________________________________________________
dense_4 (Dense)              (None, 3)                 9
_________________________________________________________________
activation_4 (Activation)    (None, 3)                 0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 4
_________________________________________________________________
activation_5 (Activation)    (None, 1)                 0
=================================================================
Total params: 19
Trainable params: 19
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.compile(loss='mean_squared_error',optimizer='adam',metrics=['accuracy'])

In [20]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/04_CIGARET.csv")

In [21]:
data.head(5)

   KgTar  KgNic  KgCO  MnTar  MnNic  MnCO  FLTar  FLNic  FLCO
0     20    1.1    16     16    1.1    15      5    0.4     4
1     27    1.7    16     13    0.8    17     16    1.0    19
2     27    1.7    16     16    1.0    19     17    1.2    17
3     20    1.1    16      9    0.9     9     13    0.8    18
4     20    1.1    16     14    0.8    17     13    0.8    18

In [22]:
Preditors = ['MnTar', 'MnCO']
TargetVariable =['MnNIC']

In [23]:
X = pd.DataFrame(data, columns = Preditors)
y = pd.DataFrame(data, columns = TargetVariable)

In [24]:
### Sandardization of data ###
from sklearn.preprocessing import StandardScaler
PredictorScaler=StandardScaler()
TargetVarScaler=StandardScaler()

# Storing the fit object for later reference
PredictorScalerFit=PredictorScaler.fit(X)
TargetVarScalerFit=TargetVarScaler.fit(y)

# Generating the standardized values of X and y
X=PredictorScalerFit.transform(X)
y=TargetVarScalerFit.transform(y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:765: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:706: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

In [25]:
# Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [26]:
history = model.fit(X_train,y_train,batch_size=5,epochs=5, verbose=1)

Epoch 1/5
4/4 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 2/5
4/4 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 3/5
4/4 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 4/5
4/4 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 5/5
4/4 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0000e+00

In [27]:
# giá trị thực tế được lưu ở tập t_test
predicted_classes=model.predict(X_test)

In [28]:
predicted_classes

array([[nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan]], dtype=float32)